@using ASP_NotesApp.Models.Enum
@model IEnumerable<ASP_NotesApp.Models.Domain.Note>
@{
    int status = 0;
    if (Model.Any(n => n.Status == (int)StatusNote.Archived)) { status = 1; }
    else if (Model.Any(n => n.Status == (int)StatusNote.Deleted)) {
        status = 2;
    }
    //TODO: Улучшить это
}

<div class="note-header">
       <div class="search-block">
            <div class ="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label class="control-label">Поиск по словам: </label>
                        <input name="attribute" class="form-control" id="input-search" />
                    </div>
                    <div class="col-md-1">
                        <button type="submit" value="Применить" class="btn filter" onclick="Search(@status)">Применить</button>
                    </div>
                </div>
            </div>
        </div>
       <a class="button-add" onclick="Create()"><img class="note-image" onclick="СlickOnCreate" src="/img/add.svg"></a>
</div>

@if(Model.Any(n => n.Pined == true))
{
    <h2>Закрепленные</h2>
}
@if(Model.Any(n => n.Status == (int)StatusNote.Deleted))
{
    <div class="row row-cols-6">
        @if(Model != null){
            @foreach(var mod in Model)
            {
                <div class="col note" id="noteItem @mod.Id">
                    <div class="note-content" id="noteItem @mod.Id"> 
                        <div class="header-note"> 
                            <h4><strong>@mod.Title</strong></h4>
                        </div>
                        <p>@Html.Raw(mod.NoteBody)</p>
                    </div>
                    <div class="footer-note">
                        <a class="delete-note" id="deleteForever-note-@mod.Id" onclick="DeleteFromTrashCanNote(@mod.Id)"><img src="/img/deleteForever.svg"></a>
                        <a class="recover-note" id="recover-note-@mod.Id" onclick="RecoverFromTrashCanNote(@mod.Id)"><img src="/img/recover.svg"></a>
                    </div>
                </div>       
            }
        }
    </div>
}
else
{
    <div class="row row-cols-6">
        @foreach(var mod in Model)
        {
            @if (mod.Pined == true)
            {
                <div class="col note" id="noteItem @mod.Id">
                    @if (mod.Pined == false)
                    {
                        <a class="pin-out" id="pin-@mod.Id" onclick="PinNote(@mod.Id)"><img src="/img/pin-deactive.svg" /></a>
                    }
                    else
                    {
                        <a class="unPin" id="unPin-@mod.Id" onclick="UnPinNote(@mod.Id)"><img src="/img/pin-active.svg" /></a>
                    }
                    <div class="note-content" id="noteItem @mod.Id" onclick="Edit(@mod.Id)">
                        <div class="header-note"> 
                            <h4><strong>@mod.Title</strong></h4>
                        </div>
                        <p>@Html.Raw(mod.NoteBody)</p>
                    </div>
                    <div class="footer-note">
                        <a class="delete-note" id="delete-note-@mod.Id" onclick="PutInCanNote(@mod.Id, 0)"><img src="/img/deleteForever.svg"></a>
                        <a class="archive-note" id="archive-note-@mod.Id" onclick="ArchiveNote(@mod.Id)"><img id="img-archive" src="/img/archive.svg"></a>
                    </div>
                </div>
            }
        }
    </div>

    <div class="row row-cols-6 unpinned">
        @foreach(var mod in Model)
        {
            @if (mod.Pined == false && @Model.Any(n => n.Status != (int)StatusNote.Archived))
            {
                <div class="col note" id="noteItem @mod.Id">
                    @if (mod.Pined == false)
                    {
                        <a class="pin-out" id="pin-@mod.Id" onclick="PinNote(@mod.Id)"><img src="/img/pin-deactive.svg" /></a>
                    }
                    else
                    {
                        <a class="unPin" id="unPin-@mod.Id" onclick="UnPinNote(@mod.Id)"><img src="/img/pin-active.svg" /></a>
                    }
                    <div class="note-content" id="noteItem @mod.Id" onclick="Edit(@mod.Id)"> 
                        <div class="header-note"> 
                            <h4><strong>@mod.Title</strong></h4>
                        </div>
                        <p>@Html.Raw(mod.NoteBody)</p>
                    </div>
                    <div class="footer-note">
                        <a class="delete-note" id="delete-note-@mod.Id" onclick="PutInCanNote(@mod.Id, 0)"><img src="/img/deleteForever.svg"></a>
                        <a class="archive-note" id="archive-note-@mod.Id" onclick="ArchiveNote(@mod.Id)"><img src="/img/archive.svg"></a>
                    </div>
                </div>   
            }
            else if(mod.Pined == false)
            {
                <div class="col note" id="noteItem @mod.Id">
                    @if (mod.Pined == false)
                    {
                        <a class="pin-out" onclick="PinNote(@mod.Id)"><img src="/img/pin-deactive.svg" /></a>
                    }
                    else
                    {
                        <a class="unPin" onclick="UnPinNote(@mod.Id)"><img src="/img/pin-active.svg" /></a>
                    }
                    <div class="note-content" id="noteItem @mod.Id" onclick="Edit(@mod.Id)"> 
                        <div class="header-note"> 
                            <h4><strong>@mod.Title</strong></h4>
                        </div>
                        <p>@Html.Raw(mod.NoteBody)</p>
                    </div>
                    <div class="footer-note">
                        <a class="unArchive-note" id="unArchive-note-@mod.Id" onclick="UnArchiveNote(@mod.Id)"><img src="/img/unarhive.svg"></a>
                        <a class="delete-note" id="delete-note-@mod.Id" onclick="PutInCanNote(@mod.Id, 1)"><img src="/img/detele.svg"></a>
                    </div>
                </div>       
            }
        }
    </div>
}